@font-face {
    font-family: poppins;
    src: url(../assets/font/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsLight;
    src: url(../assets/font/poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinsSemiBold;
    src: url(../assets/font/poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppinsBold;
    src: url(../assets/font/poppins/Poppins-Bold.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000 !important;
}

// NAVIGATION STYLE
nav {
    position: fixed !important;
    width: 100%;
    transition: background 0.5s;
    z-index: 10;
}
nav.scrolled {
    background: #000000 !important;
}
.navbar {
    font-family: poppins;
    .container {
        .navbar-brand {
            a {
                text-decoration: none;
                font-size: 3rem;
            }
            img {
                height: 100px;
                width: 100px;
            }
        }
        .nav-link {
            color: white !important;
        }
        form {
            .input-group {
                .form-control {
                    border-right: none;
                }
                button {
                    border: 1px solid #ced4da;
                    border-left: none;
                    background-color: white;
                }
            }
        }
    }
}

//Main Div
.main {
    // Hero Image Section
    .hero-img-sec {
        background: url("../assets/images/background/first_section_bg.jpg")
            no-repeat center;
        background-size: cover;
        .container {
            height: 100vh;
            background: url("../assets/images/background/Phone.png") no-repeat;
            background-position: right center;
            background-size: contain;

            .col {
                .display-1 {
                    font-family: poppinsBold;
                    font-size: clamp(40px, 9vw, 90px);
                    line-height: 1.2;
                }
                .display-5 {
                    font-family: poppinsSemiBold;
                    font-size: clamp(27px, 5vw, 50px);
                }
                p {
                    font-family: poppinsLight;
                    line-height: 2;
                    font-size: clamp(15px, 3vw, 1.2rem);
                }
            }
        }
    }

    //Customers Choice Section
    .customers-section {
        background: url("../assets/images/background/second_section_bg.jpg")
            no-repeat center;
        background-size: cover;
        color: white;
        h1 {
            font-family: poppinsSemiBold;
            text-align: center;
        }
        h6 {
            font-family: poppinsLight;
            text-align: center;
        }
        h4 {
            margin-top: 20px;
            font-weight: bold;
        }
        h5 {
            margin: 10px 0;
        }
        p {
            font-weight: lighter;
        }
    }

    //Call to Action No. 1
    .cta-1 {
        height: 600px;
        margin-top: 100px;
        margin-bottom: 100px;
        background: linear-gradient(
            135deg,
            rgba(240, 0, 14, 0.7),
            rgba(22, 0, 231, 0.7)
        );
        .container {
            height: inherit;
            background: url("../assets/images/background/cta-img-1.png")
                no-repeat right center;
            background-size: contain;

            h1 {
                font-family: poppinsSemiBold;
                font-size: clamp(60px, 5vw, 5rem);
                text-shadow: 2px 2px #000000;
            }

            .d-grid {
                .btn {
                    background-color: #ad0303;
                    color: white;
                }
                .btn:hover {
                    background-color: #000;
                    color: white;
                }
            }
        }
    }

    //Our Products
    .products-section {
        background: url("../assets/images/background/forth_section_bg.jpg")
            no-repeat center;
        background-size: cover;
        margin-bottom: 100px;
        .container {
            h1 {
                font-family: poppinsSemiBold;
                text-align: center;
            }
            h6 {
                font-family: poppinsLight;
                text-align: center;
            }
        }
    }
}

//large
@media (max-width: 992px) {
    .main {
        // Hero Image Section
        .hero-img-sec {
            background: url("../assets/images/background/first_section_bg.jpg")
                no-repeat center;
            background-size: cover;
            .container {
                height: 100vh;
                background: url("../assets/images/background/Phone.png")
                    no-repeat;
                background-position: right center;
                background-size: contain;
            }
        }

        //Customers Choice Section
        .customers-section {
            margin-top: none;
            color: white;
            h1 {
                font-family: poppinsSemiBold;
                text-align: center;
            }
            h6 {
                font-family: poppinsLight;
                text-align: center;
            }
        }

        //Call to Action No. 1
        .cta-1 {
            height: 500px;
            margin-top: 50px;
            margin-bottom: 50px;
            background: linear-gradient(
                135deg,
                rgba(240, 0, 14, 0.3),
                rgba(22, 0, 231, 0.3)
            );

            .container {
                height: inherit;
                height: inherit;
                background: url("../assets/images/background/cta-img-1.png")
                    no-repeat right center;
                background-size: contain;

                h1 {
                    text-align: center;
                    font-family: poppinsSemiBold;
                    font-size: clamp(60px, 5vw, 5rem);
                    text-shadow: 2px 2px #000000;
                }
                h4 {
                    text-shadow: 2px 2px #000000;
                }

                .d-grid {
                    .btn {
                        background-color: #ad0303;
                        color: white;
                    }
                    .btn:hover {
                        background-color: #000;
                        color: white;
                    }
                }
            }
        }
    }
}

//medium
@media (max-width: 768px) {
    .main {
        // Hero Image Section
        .hero-img-sec {
            background: none;
            .container {
                height: 87vh;
                background: url("../assets/images/background/Phone-sm.png");
                background-repeat: no-repeat;
                background-position: right center;
                background-size: contain;
            }
        }

        //Customers Choice Section
        .customers-section {
            background: none;
            color: white;
            h1 {
                font-family: poppinsSemiBold;
                text-align: center;
            }
            h6 {
                font-family: poppinsLight;
                text-align: center;
            }
            .row {
                margin-top: 50px;
            }
            h4 {
                margin-top: 20px;
                font-weight: bold;
            }
            h5 {
                margin: 10px 0;
            }
            p {
                font-weight: lighter;
            }
            .mt-5 {
                margin-top: 8px !important;
            }
        }

        //Call to Action No. 1
        .cta-1 {
            height: 400px;
            margin-top: 50px;
            margin-bottom: 50px;
            background: linear-gradient(
                135deg,
                rgba(240, 0, 14, 0.3),
                rgba(22, 0, 231, 0.3)
            );

            .container {
                height: inherit;
                height: inherit;
                background: url("../assets/images/background/cta-img-1.png")
                    no-repeat right center;
                background-size: contain;

                h1 {
                    font-family: poppinsSemiBold;
                    font-size: clamp(60px, 5vw, 5rem);
                    text-shadow: 2px 2px #000000;
                }
                h4 {
                    text-shadow: 2px 2px #000000;
                }
                .d-grid {
                    .btn {
                        background-color: #ad0303;
                        color: white;
                    }
                    .btn:hover {
                        background-color: #000;
                        color: white;
                    }
                }
            }
        }
    }
}

//small
@media (max-width: 576px) {
    .navbar {
        font-family: poppins;
        .container {
            .navbar-brand {
                a {
                    text-decoration: none;
                    font-size: 3rem;
                }
                img {
                    height: 78px;
                    width: 78px;
                }
            }
            .navbar-toggler {
                font-size: 1rem;
                border: none;
            }
        }
    }

    .main {
        // Hero Image Section
        .hero-img-sec {
            background: none;
            .container {
                height: 100vh;
                background-image: url("../assets/images/background/Phone-sm.png");

                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                .col {
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;

                    .__custom-btn {
                        margin-top: 20px;
                    }
                }
            }
        }

        //Customers Choice Section
        .customers-section {
            background: none;
            color: white;
            h1 {
                font-family: poppinsSemiBold;
                text-align: center;
            }
            h6 {
                font-family: poppinsLight;
                text-align: center;
            }
            .row {
                margin-top: 50px;
            }
            h4 {
                margin-top: 20px;
                font-weight: bold;
            }
            h5 {
                margin: 10px 0;
            }
            p {
                font-weight: lighter;
            }
            .mt-5 {
                margin-top: 8px !important;
            }
        }

        //Call to Action No. 1
        .cta-1 {
            height: 350px;
            margin-top: 50px;
            margin-bottom: 50px;
            background: linear-gradient(
                135deg,
                rgba(240, 0, 14, 0.3),
                rgba(22, 0, 231, 0.3)
            );

            .container {
                height: inherit;
                background: url("../assets/images/background/cta-img-1.png")
                    no-repeat center;
                background-size: contain;
                h1 {
                    text-align: center;
                    font-family: poppinsSemiBold;
                    font-size: clamp(60px, 5vw, 5rem);
                    text-shadow: 2px 2px #000000;
                }
                h4 {
                    text-align: center;
                }
                .d-grid {
                    margin-top: 20px;
                    align-self: center;
                    .btn {
                        background-color: #ad0303;
                        color: white;
                    }
                    .btn:hover {
                        background-color: #000;
                        color: white;
                    }
                }
            }
        }

        //Our Products
        .products-section {
            background: none;
            margin-bottom: 50px;
            .container {
                h1 {
                    font-family: poppinsSemiBold;
                    text-align: center;
                }
                h6 {
                    font-family: poppinsLight;
                    text-align: center;
                }
            }
        }
    }
}
